/** @format */

@use "@styles/abstracts/functions" as func;
@use "@styles/abstracts/variables" as var;
@use "@styles/abstracts/mixins" as mix;
@use "@styles/abstracts/placeholders" as *;

.EditUserForm-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 2rem;
	max-width: min(30rem, 95vw);
	width: 100%;
	background: var.$light_editUser-bg;
	color: var.$light_editUser-text;
	box-shadow: var.$light_editUser_card-shadow;
	@extend %text-wrap;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: left;
	gap: 1rem;
	max-width: min(30rem, 95vw);
	padding: 0 0.5rem;
}

.input-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	align-items: center;
	gap: 0.25rem;
	width: 100%;
}

.label {
	flex: 1 0 8rem;
	min-width: 8rem;
	max-width: 12rem;
	font-weight: bold;
	padding: 0 0.25rem;
	@extend %text-wrap;
	text-align: left;
}

.input-wrapper {
	flex: 999 1 12rem;
	min-width: 0;
}

.input {
	padding: 0.5rem;
	background-color: var.$light_editUser_input-bg;
	border: 1px solid var.$light_editUser_input-border;
	color: var.$light_editUser_input-text;
	width: 100%;
	box-sizing: border-box;
}

.input_readonly {
	padding: 0.5rem;
	background-color: var.$light_editUser_input-readonly-bg;
	border: 1px solid var.$light_editUser_input-border;
	color: var.$light_editUser_input-text;
	width: 100%;
	box-sizing: border-box;

	&:active,
	&:focus-visible {
		color: var.$color-error !important;
	}

	&::selection {
		background: none;
		color: var.$color-error;
	}
}

.error-message {
	color: var.$color-error;
	font-size: 0.875rem;
	@extend %text-wrap;
	margin-top: 0.25rem;
}

.button-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	margin-top: 1rem;
}

.submit-button,
.cancel-button {
	flex: 1 1 6rem;
	max-width: 10rem;
	border-color: var.$light-button-border;
	background-color: var.$light-button-bg;
	color: var.$light-button-text;
	font-weight: bold;
	padding: func.rem(10);
	margin: 1rem 0;
	border-radius: func.rem(4);
	white-space: nowrap;
	height: func.rem(45);
	display: flex;
	align-items: center;
	justify-content: center;
}

.submit-button {
	&:hover,
	&:focus-visible {
		background-color: var.$light_button_bg-hover;
		border-color: var.$light_button_border-hover;
	}
}

.cancel-button {
	&:hover,
	&:focus-visible {
		background-color: var.$light_cancel-button_bg-hover;
		border-color: var.$light_cancel-button_border-hover;
	}
}
