/** @format */

@use "@styles/abstracts/placeholders" as *;
@use "@styles/abstracts/variables" as var;
@use "@styles/abstracts/mixins" as mix;

.footer {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 1vw;
	min-height: clamp(6rem, 20vh + 1rem, 9rem);

	contain-intrinsic-size: 0 clamp(6rem, 20vh + 1rem, 9rem);
	contain: layout;

	background-color: var.$light_bg_footer;
	box-shadow:
		0 -4px 10px -1px rgba(0, 0, 0, 0.2),
		0 -2px 6px -1px rgba(0, 0, 0, 0.15),
		0 -8px 16px -8px rgba(0, 0, 0, 0.1);

	&__text {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		color: var.$light_footer_text;
		box-sizing: border-box;
		@include mix.text-wrap;
	}

	&__link {
		color: var.$light_footer_link;
		text-decoration: none;
		transition: color 0.3s ease;
		font-weight: 600;

		&:hover {
			color: var.$light_footer_link-hover;
		}
	}

	&__privacy {
		&-compact {
			margin: 1rem auto 0;
			width: 100%;
			max-width: 50rem;
			text-align: center;
			border-top: 1px solid var.$light_footer_privacy_border;
			padding-top: 0.75rem;
		}

		&-toggle {
			background: none;
			border: none;
			color: var.$light_footer_link;
			font-size: 0.9rem;
			font-weight: 600;
			// padding: 0.5rem 1rem;
			padding: clamp(0.15rem, 0.5vh, 0.5rem) clamp(0.1rem, 1vw, 1rem);
			transition: color 0.3s ease;
			display: inline-flex;
			align-items: center;
			@include mix.text-wrap;

			&:hover {
				color: var.$light_footer_link-hover;
			}

			&.open {
				margin-bottom: 0.75rem;
			}

			.toggle-icon {
				// margin-left: 0.5rem;
				margin-left: clamp(0.1rem, 0.5vw, 0.5rem);
				font-size: 1.1rem;
				line-height: 1;
			}
		}

		&-content {
			max-height: 0;
			overflow: hidden;
			transition:
				max-height 0.3s ease-out,
				opacity 0.2s ease;
			opacity: 0;

			&.open {
				max-height: 30rem;
				opacity: 1;
			}
		}

		&-text {
			font-size: 0.85rem;
			line-height: 1.5;
			color: var.$light_footer_privacy_text;
			margin: 0.5rem 0;
			font-weight: 600;
			margin-bottom: 0.75rem;
			@include mix.text-wrap;
		}
		&-items {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			max-width: 25rem;
			margin: 0 auto;
			padding-left: clamp(2px, min(0.75vw, 0.5rem), 1rem);
			text-align: left;
		}
		&-item {
			font-size: 0.85rem;
			line-height: 1.5;
			color: var.$light_footer_privacy_text;
			margin: 0.25rem 0;
			@include mix.text-wrap;
		}
		&-bullet {
			margin-right: clamp(1px, min(0.5vw, 0.25rem), 0.5rem);
		}
		&-action {
			display: inline-block;
			margin-top: 1rem;

			&-link {
				color: var.$light_footer_link;
				text-decoration: none;
				transition: color 0.3s ease;
				font-size: 0.85rem;
				font-weight: 700;
				padding: 0.5rem 1rem;

				@include mix.text-wrap;

				&:hover {
					color: var.$light_footer_link-hover;
				}
			}
		}
	}
}
