/** @format */

@use "@styles/abstracts/placeholders" as *;
@use "@styles/abstracts/variables" as var;
@use "@styles/abstracts/mixins" as mix;

.footer {
	display: flex;
	justify-content: center;
	min-height: 1.5rem;
	padding: 2rem 1vw;
	background-color: var.$light_bg_footer;
	box-shadow:
		0 -4px 10px -1px rgba(0, 0, 0, 0.2),
		0 -2px 6px -1px rgba(0, 0, 0, 0.15),
		0 -8px 16px -8px rgba(0, 0, 0, 0.1);

	&__text {
		margin: 0 auto;
		color: var.$light_footer_text;
		box-sizing: border-box;
		@include mix.text-wrap;
	}

	&__link {
		color: var.$light_footer_link;
		text-decoration: none;
		transition: color 0.3s ease;
		font-weight: 600;

		&:hover {
			color: var.$light_footer_link-hover;
		}
	}
}
