/** @format */

.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 4rem;
	gap: 1rem;
	padding: 5px rem(20);
}

.main-nav a {
	font-weight: bold;
}
.main-nav-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-decoration: none;
	gap: 0.25rem;
}

.main-nav-item:hover {
	text-decoration: underline;
}

.main-nav-logo {
	display: flex;
	align-items: center;
}

.main-nav-logo-image {
	max-width: 100%;
	width: rem(200);
}
