/** @format */

@use "@styles/abstracts/functions" as func;
@use "@styles/abstracts/placeholders" as *;
@use "@styles/abstracts/mixins" as mix;
@use "@styles/abstracts/variables" as var;

.header {
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: center;
	min-height: 5rem;
	gap: 0.5rem;
	padding: 0 1.5vw;
	background-color: var.$light_bg_header;
	box-shadow:
		0 4px 10px -1px rgba(0, 0, 0, 0.2),
		0 2px 6px -1px rgba(0, 0, 0, 0.15),
		0 8px 16px -8px rgba(0, 0, 0, 0.1);
}
.main-nav-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 0 0.5rem;
	margin: 0.5rem 0.25rem;
	margin-left: auto;
}

.main-nav-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-decoration: none;
	font-weight: bold;
	color: var.$light_text-link_header;
	gap: 0.25rem;
	white-space: nowrap;
	&:hover {
		color: var.$light_text-link-hover_header;
	}
}

.main-nav-logo {
	display: flex;
	align-items: center;
	margin: 0.5rem;
}

.main-nav-logo-image {
	max-width: 100%;
	width: func.rem(200);
	height: auto;
	object-fit: contain;
}
