/** @format */

.hero {
	background-image: url("@assets/img/bank-tree.jpeg");
	background-position: 0 rem(-50);
	background-size: cover;
	background-repeat: no-repeat;
	height: rem(300);
	position: relative;

	@supports (background-image: url("@assets/img/bank-tree.avif")) {
		background-image: url("@assets/img/bank-tree.avif");
	}
}

.hero-image-description {
	position: absolute;
	z-index: -1;
	width: 95%;
	height: 80%;
	top: 0.5rem;
	left: 2rem;
	font-size: 1.1rem;
	outline: rem(2) dashed #757575;
	color: #757575;
}

.hero-content {
	position: relative;
	top: 2rem;
	width: rem(200);
	padding: 2rem;
	text-align: left;
	margin: 0 auto;
}

.hero-content .subtitle {
	font-weight: bold;
	font-size: 1rem;
	margin: 0;
}

.hero-content .text {
	margin-bottom: 0;
	font-size: 0.9rem;
}

@media (min-width: 920px) {
	.hero {
		height: rem(400);
		background-position: 0% 33%;
	}

	.hero-content {
		position: absolute;
		top: rem(50);
		right: rem(50);
		width: rem(300);
		margin: 2rem;
	}

	.hero-content .subtitle {
		font-size: 1.5rem;
	}

	.hero-content .text {
		font-size: 1.2rem;
	}
}

.features {
	display: flex;
	flex-direction: column;
}

@media (min-width: 920px) {
	.features {
		flex-direction: row;
	}
}

.feature-item {
	flex: 1;
	padding: 2.5rem;
	&-icon {
		display: flex;
		justify-content: center;
		vertical-align: middle;
	}
}

.feature-icon {
	width: rem(100);
	min-width: rem(100);
	min-height: rem(100);
	border: rem(10) solid $light-icon-border;
	border-radius: 50%;
	padding: 1rem;
	position: relative;
	background-size: cover;
	&-1 {
		background-repeat: no-repeat;
		background-image: url("@assets/img/icon-chat_light-mode.png");
		@media (prefers-color-scheme: dark) {
			background-image: url("@assets/img/icon-chat_dark-mode.png");
		}
	}
	&-2 {
		background-repeat: no-repeat;
		background-image: url("@assets/img/icon-money_light-mode.png");
		@media (prefers-color-scheme: dark) {
			background-image: url("@assets/img/icon-money_dark-mode.png");
		}
	}
	&-3 {
		background-repeat: no-repeat;
		background-image: url("@assets/img/icon-security_light-mode.png");
		@media (prefers-color-scheme: dark) {
			background-image: url("@assets/img/icon-security_dark-mode.png");
		}
	}
}
.icon-image-description {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 0;
	left: 0;
	font-size: 1rem;
	color: #757575;
}
.feature-item-title {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
