/** @format */
@import "@styles/abstracts/functions";
@import "@styles/abstracts/variables";

.title {
	color: $light-text;
	font-size: 2rem !important;
	@media (prefers-color-scheme: dark) {
		color: $dark-text;
	}
}

.user-page-main {
	flex: 1;
	height: 100%;
	background: $light-bg-user;
	color: $light-text;
	@media (prefers-color-scheme: dark) {
		background: $dark-bg-user;
		color: $dark-text;
	}
}
.edit-button {
	border-color: $light-button-border;
	background-color: $light-button-bg;
	color: $light-button-text;
	font-weight: bold;
	padding: rem(10);
	margin: 2rem 0;
	@media (prefers-color-scheme: dark) {
		border-color: $dark-button-border;
		background-color: $dark-button-bg;
		color: $dark-button-text;
	}
}

.error-message {
	color: $color-error;
	font-weight: bold;
	margin: 1rem 0;
}

.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid $light-account-border;
	background-color: $light-account-bg;
	color: $light-account-text;
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
	padding: 1.5rem;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 2rem;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	transition:
		background-color 0.2s ease-in-out,
		border-color 0.2s ease-in-out,
		color 0.2s ease-in-out;

	&:hover {
		background-color: $light-account-hover-bg;
		color: $light-account-hover-text;
	}

	@media (prefers-color-scheme: dark) {
		border-color: $dark-account-border;
		background-color: $dark-account-bg;
		color: $dark-account-text;

		&:hover {
			// Ajustement léger pour le hover dark
			background-color: $dark-account-hover-bg;
			color: $dark-account-hover-text;
		}
	}
}

.account-amount {
	margin: 0;
	font-size: 2.5rem;
	font-weight: bold;
}

.account-amount-description {
	margin: 0;
}

.account-title {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: normal;
}

.account-content-wrapper {
	width: 100%;
	flex: 1;
}

.account-selected {
	border-left: 1.5rem solid $light-account-selected-border;
	background-color: $light-account-selected-bg;

	@media (prefers-color-scheme: dark) {
		border-left-color: $dark-account-selected-border;
		background-color: $dark-account-selected-bg;
	}
}

.transaction-detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $light-transaction-border;
	width: 80%;
	margin: 0 auto;
	padding: 1rem 1.5rem;
	box-sizing: border-box;
	text-align: left;
	@media (prefers-color-scheme: dark) {
		border-bottom-color: $dark-transaction-border;
	}
}

.transaction-button {
	display: block;
	width: 100%;
	padding: rem(8);
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	border-color: $light-button-border;
	background-color: $light-button-bg;
	color: $light-button-text;
	@media (prefers-color-scheme: dark) {
		border-color: $dark-button-border;
		background-color: $dark-button-bg;
		color: $dark-button-text;
	}
}

@media (min-width: 720px) {
	.account {
		flex-direction: row;
	}

	.account-content-wrapper.cta {
		flex: 0;
	}

	.transaction-button {
		width: rem(200);
	}
}
