/** @format */

@use "@styles/abstracts/functions" as func;
@use "@styles/abstracts/variables" as var;
@use "@styles/abstracts/mixins" as mix;
@use "@styles/abstracts/placeholders" as *;

.signin-page-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 2rem 0;
	background: var.$light-signin-page-bg;
}
.sign-in-content {
	box-sizing: border-box;
	background: var.$light-signin-card-bg;
	color: var.$light-text;
	width: min(func.rem(300), 90%);
	margin: min(2rem, 5vh) auto;
	padding: min(5vw, 2rem);
	@extend %text-wrap;
	box-shadow:
		0 2px 10px rgba(0, 0, 0, 0.1),
		0 4px 20px rgba(0, 0, 0, 0.05);
}
.sign-in-button {
	display: block;
	width: 100%;
	padding: func.rem(8);
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 2rem;
	background-color: var.$light-button-bg;
	border-color: var.$light-button-border;
	color: var.$light-button-text;

	&:hover {
		background-color: var.$light-button-hover-bg;
		border-color: var.$light-button-hover-border;
	}
}

.sign-in-icon {
	font-size: 5rem;
}
.input-remember {
	display: flex;
}

.input-remember label {
	margin-left: 0.25rem;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 1rem;
	width: 100%;
}

.input-wrapper label {
	font-weight: bold;
	@extend %text-wrap;
}

.input-wrapper input {
	padding: func.rem(5);
	font-size: 1.2rem;
	border: 1px solid var.$light-border-card;
	background-color: var.$light-input-bg;
	color: var.$light-text;
	width: 100%;
	box-sizing: border-box;
}

.error-message {
	color: var.$color-error;
	font-size: 0.9rem;
	margin-top: 0.5rem;
	@extend %text-wrap;
}
