/** @format */

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* add */
	min-height: 100vh;
	// background: blue;
}
main {
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	// align-items: center;
	width: 100%;
	min-height: calc(100vh - 10rem);
	// background: red;
}
.main {
	flex: 1;
}

button {
	cursor: pointer;
	&:hover,
	&:focus-visible {
		opacity: 0.85;
	}
}
