/** @format */

$primary-color: #2d3748;
$secondary-color: #6866e9;
$color-accent: #058857;
$color-accent-dark: #345e41;

$color-white: #ffffff;
$color-balanced: #757575;
$color-black: #000000;

// $off-white: #fafaf9;
// $color-balanced: #757575;
// $near-black: #0c0a09;

$color-gray-50: #f7fafc;
$color-gray-100: #edf2f7;
$color-gray-200: #e2e8f0;
$color-gray-400: #cbd5e0;
$color-gray-500: #a0aec0;
$color-gray-600: #718096;
$color-gray-700: #4a5568;
$color-gray-800: #2d3748;
$color-gray-800: $primary-color;
$color-gray-900: #1a202c;

// State colors
$color-success: $color-accent;
$color-warning: #ffc107;
$color-error: #dc3545;
$color-info: $secondary-color;

// // // // // // // // // // // // // // //

// // Couleurs pour le thème light // //

// Links
$light_text-link-hover: $secondary-color;

// Header
$light_bg_header: $color-white;
$light_text-link_header: $primary-color;
$light_text-link-hover_header: $secondary-color;

// Footer
$light_bg_footer: $color-white;
$light_footer_text: $color-black;
$light_footer_link: $primary-color;
$light_footer_link-hover: $secondary-color;

//  Home
$light-bg: $color-white;
$light_bg_hero-content: $color-white;
$light_icon-border: $color-accent;
$light_text: $primary-color;
$light_border-card: $color-gray-200;
$light_border-footer: $color-gray-200;

// SignIn
$light_signin_page-bg: $color-gray-50;
$light_signin_card-bg: $color-white;
$light_signin_card-text: $color-black;
$light_signin_card-shadow:
	0 2px 10px rgba(0, 0, 0, 0.1),
	0 4px 20px rgba(0, 0, 0, 0.05);
$signin-icon-color: $primary-color;
$light_signin_input-bg: $color-white;
$light_signin_input-border: $color-gray-200;
$light_signin_label-text: $color-black;
$light_signin_input-text: $color-black;

// User
$light_user_bg: $color-gray-50;
$light_user_title: $primary-color;
$light_user_text: $color-black;

// Account
$light_account_bg: $color-white;
$light_account_border: $color-gray-200;
$light_account_text: $color-black;
$light_account_bg-hover: $primary-color;
$light_account_text-hover: $color-white;
$light_account_border-selected: $secondary-color;
$light_account_bg-selected: $color-gray-100;
$light_account-amount_text: $primary-color;

// Transaction
$light_transaction_border: $color-gray-200;

// EditUser
$light_editUser-bg: $color-white;
$light_editUser_card-shadow:
	0 2px 10px rgba(0, 0, 0, 0.1),
	0 4px 20px rgba(0, 0, 0, 0.05);
$light_editUser-text: $color-black;
$light_editUser_input-bg: $color-white;
$light_editUser_input-readonly-bg: $color-gray-200;
$light_editUser_input-border: $color-gray-200;
$light_editUser_input-text: $color-black;

// 404 Page
$light_404_bg: $color-white;
$light_404_text: $color-black;
$light_404_button-bg: $color-white;
$light_404_button-border: $color-accent;
$light_404_button-text: $color-accent;
$light_404_button-bg-hover: $color-accent;
$light_404_button-border-hover: $color-accent;
$light_404_button-text-hover: $color_white;

// Button
$light_button-bg: $color-accent-dark;
$light_button-border: $color-accent-dark;
$light_button-text: $color-white;
$light_button_bg-hover: $color-accent;
$light_button_border-hover: $color-accent;
// Bouton Cancel
$light-cancel-button-bg-hover: $color-error;
$light-cancel-button-border-hover: $color-error;

// Pagination buttons
$light_pagination-button_bg: $color-white;
$light_pagination-button_border: $color-accent-dark;
$light_pagination-button_text: $color-accent-dark;
$light_pagination-button_bg-hover: $color-accent;
$light_pagination-button_border-hover: $color-accent;
$light_pagination-button_text-hover: $color-white;
$light_pagination-button_bg-selected: $color-accent-dark;
$light_pagination-button_border-selected: $color-accent-dark;
$light_pagination-button_text-selected: $color-white;
