/** @format */

// Couleurs pour le thème light
$light-bg: #ffffff;
$light-button-bg: #f9f9f9;
$light-text: #213547;
$light-text-hover: #747bff;
$light-text-link: #42b983;
$light-icon-border: #42b983;
$light-border-footer: #ccc;
$light-title-footer: #222;

// Couleurs pour le thème dark
$dark-bg: #12002b;
$dark-text: #ffffff;
